[submodule "libs/boost"]
	path = libs/boost
	url = https://github.com/boostorg/boost
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libs/AudioFile"]
	path = libs/AudioFile
	url = https://github.com/adamstark/AudioFile.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "libs/kissfft"]
	path = libs/kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "libs/code"]
	path = libs/code
	url = https://github.com/aicodix/code.git
[submodule "libs/miniaudio"]
	path = libs/miniaudio
	url = https://github.com/mackron/miniaudio
